<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchShip</servlet-name>
        <servlet-class>controller.SearchShip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSchedule</servlet-name>
        <servlet-class>controller.SearchSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOSchedule</servlet-name>
        <servlet-class>controller.SearchOSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItem</servlet-name>
        <servlet-class>controller.SearchItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBooking</servlet-name>
        <servlet-class>controller.SearchBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAgent</servlet-name>
        <servlet-class>controller.SearchAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchABooking</servlet-name>
        <servlet-class>controller.SearchABooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterShip</servlet-name>
        <servlet-class>controller.RegisterShip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSchedule</servlet-name>
        <servlet-class>controller.RegisterSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterItem</servlet-name>
        <servlet-class>controller.RegisterItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>controller.RegisterCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAgent</servlet-name>
        <servlet-class>controller.RegisterAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBooking</servlet-name>
        <servlet-class>controller.ManageBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeBooking</servlet-name>
        <servlet-class>controller.MakeBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDate</servlet-name>
        <servlet-class>controller.CheckDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchShip</servlet-name>
        <url-pattern>/SearchShip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSchedule</servlet-name>
        <url-pattern>/SearchSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOSchedule</servlet-name>
        <url-pattern>/SearchOSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItem</servlet-name>
        <url-pattern>/SearchItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBooking</servlet-name>
        <url-pattern>/SearchBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAgent</servlet-name>
        <url-pattern>/SearchAgent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchABooking</servlet-name>
        <url-pattern>/SearchABooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterShip</servlet-name>
        <url-pattern>/RegisterShip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSchedule</servlet-name>
        <url-pattern>/RegisterSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterItem</servlet-name>
        <url-pattern>/RegisterItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomer</servlet-name>
        <url-pattern>/RegisterCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAgent</servlet-name>
        <url-pattern>/RegisterAgent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBooking</servlet-name>
        <url-pattern>/ManageBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeBooking</servlet-name>
        <url-pattern>/MakeBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDate</servlet-name>
        <url-pattern>/CheckDate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
